<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/theworkpage.css">
	<title></title>
</head>
<body>
<center>

<div class="topnav">
  <a href="">Logout</a>
</div>
    <br><br><br><br>
    <h1>Admin home</h1>
    <div class="card" style="height: 100%; width: 600px;">
      User 1 <div class="right"><a class="button red" href="">Delete User</a></div>
    </div>
    <div class="card" style="height: 100%; width: 600px;">
      User 2 <div class="right"><a class="button red" href="">Delete User</a></div>
    </div>
</center>
</body>
</html>