<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/theworkpage.css">
	<title></title>
</head>
<body>
<center>

<div class="topnav">
  <a class="active" href="">View Courses</a>
  <a href="">Help</a>
  <a href="">Logout</a>
</div>
    <br><br><br><br>
    <h1>Create Course</h1>
    <div class="card" style="height: 100%; width: 400px;">
      <br>
      <form action="">
        <input style="width: 300px" type="text" name="githubrepourl" placeholder="GitHub Repo URL"><br><br>
        <input class="button blue" type="submit" value="Create">
      </form>
    </div>
</center>
</body>
</html>