<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/theworkpage.css">
	<title></title>
</head>
<body>
<center>

<div class="topnav">
  <a class="active" href="">View Courses</a>
  <a href="">Help</a>
  <a href="">Logout</a>
</div>
    <br><br><br><br>
    <h1>Homework</h1>
    <div class="card" style="height: 100%; width: 600px;">
      Homework 1 <div class="right"><a class="button green" href="">View Results</a></div>
    </div>
    <div class="card" style="height: 100%; width: 600px;">
      Homework 2 <div class="right"><a class="button green" href="">View Results</a></div>
    </div>
    <div class="card" style="height: 100%; width: 600px;">
      Homework 3 <div class="right"><a class="button green" href="">Generate Results</a></div>
    </div>
    <br>
    <a class="button blue" href="newassignment.html">Add New Homework</a></div>
</center>
</body>
</html>