<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/theworkpage.css">
	<title>Plagiarism Detector</title>
</head>
<body>
  <center>
    <br><br><br><br>
    <h1>Plagiarism Detector</h1>
    <div class="card" style="height: 100%; width: 400px;">
      <br>
      <form action="">
        <input style="width: 300px" type="email" name="a" placeholder="Email"><br><br>
        <input style="width: 300px" type="password" name="a" placeholder="Password"><br><br>
        <input class="button blue" type="submit" value="Login">
        <a class="button green" href="">Sing up</a>
      </form>
    </div>
  </center>
</body>
</html>