<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/theworkpage.css">
	<title>Plagiarism Detector</title>
</head>
<body>
  <center>
    <br><br>
    <h1>Register</h1>
    <div class="card" style="height: 100%; width: 400px;">
      <br>
      <form action="apps.html">
        <input style="width: 300px" type="text" name="username" placeholder="Username"><br><br>
        <input style="width: 300px" type="password" name="password" placeholder="Password"><br><br>
        <input style="width: 300px" type="password" name="verifypassword" placeholder="Verify Password"><br><br>
        <input style="width: 300px" type="text" name="githubusername" placeholder="GitHub Username"><br><br>
        <input style="width: 300px" type="password" name="githubpassword" placeholder="GitHub Password"><br><br>
        <input class="button blue" type="submit" value="Register">
        <a class="button red" href="">Cancel</a>
      </form>
    </div>
  </center>
</body>
</html>